<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ゆあゆのうぇぶ</title>
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>୨୧ ゆあゆのうぇぶ ୨୧</h1>
        </header>
        <div class="intro">
            <img src="/images/profile.jpg" alt="プロフィール画像" class="profile-img">
            <p>⋆˚ ︵ ‿ ︵ ‿ ︵ ୨୧ ︵ ‿ ︵ ‿ ︵ ˚⋆</p>
            <p>ゆのちしか見てないよ</p>
            <p>⋆˚ ︵ ‿ ︵ ‿ ︵ ୨୧ ︵ ‿ ︵ ‿ ︵ ˚⋆</p>
            <p>　</p>
            <p>┈┈┈┈┈┈┈୨୧┈┈┈┈┈┈┈</p>
            <p>【 - 🎀 ゆあㄘ 👻 - 】</p>
            <p>❥ 種族 ゆーれいさん</p>
            <p>❥ 死因 いじめからの飛び降りじさつ</p>
            <p>❥ 好き ゆのの、オムライス、ゲーム</p>
            <p>❥ 嫌い るあ、いじめっ子、提出物</p>
            <p>❥ 呼び方 ゆのち</p>
            <p>　</p>
            <p>【 - 👓️ ゆのの 🧥 - 】</p>
            <p>❥ 種族 にんげんさん</p>
            <p>❥ 出会い 罰ゲームで屋上に行った時</p>
            <p>❥ 好き ゆあㄘ、友達</p>
            <p>❥ 嫌い いじめっ子、るあ</p>
            <p>❥ 呼び方 ゆあㄘちゃん</p>
            <p>┈┈┈┈┈┈┈୨୧┈┈┈┈┈┈┈</p>　
            <p>　</p>
            <p>┈┈┈┈┈┈┈୨୧┈┈┈┈┈┈┈</p>
            <p>【 - ゆあㄘの過去 - 】</p>
            <p>❥ ゆあㄘはとある中学校の1年生だったんだけど、</p>
            <p>ある日からいじめられるようになっちゃったの！</p>
            <p>それで辛くて辛くて</p>
            <p>結局は飛び降りじさつしちゃった。</p>
            <p>いじめっ子ちゃんのお名前はちゃんと覚えてるよ！</p>
            <p>特に中心人物！「るあ」ってお名前なんだよ！</p>
            <p>酷かったからゆのちに教えて縁切ってもらったよ！</p>
            <p>┈┈┈┈┈┈┈୨୧┈┈┈┈┈┈┈</p>
            <p>　</p>
            <p>┈┈┈┈┈┈┈୨୧┈┈┈┈┈┈┈</p>
            <p>【 - たぐ - 】</p>
            <p>❥ FN ゆあゆのらぶ</p>
            <p>❥ FM 🎀✖👓️</p>
            <p>❥ FA #ゆあゆのきゃんばす</p>
            <p>❥ 総合 #ゆあゆのてんごく</p>
            <p>┈┈┈┈┈┈┈୨୧┈┈┈┈┈┈┈</p>
            <p>　</p>
        </div>
        <footer>
            <p>© 2025/02/09 ゆあゆのうぇぶ</p>
            <p>真実はるあが握ってる</p>
            <p>eついーとで「るあ@いじめられっ子」って検索してみて</p>
        </footer>
    </div>
</body>
</html>
